extends Plantilla/template.jade
block main 
block imagen
	title Blog
	h2 Francisco Javier Aguilar Landero
	p Mi blog personal
	.ed-container
		img(src="Imagen/javier.jpg")#imgb.imgblog
	.face
		a(href="https://www.facebook.com/francisco.aguilarlandero")
			img(src="Imagen/fblogo.png")
	.linked
		a(href="https://www.linkedin.com/in/francisco-javier-aguilar-landero-38b1a710b/")
			img(src="Imagen/linked.png")
	.texto
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		h3 Gustos
		p Me gusta conocer nuevos lugares, visitar sitios rodeados de mucha naturaleza, realizar deporte y compartir mucho con mi familia.
		h3 Localidad
		p Balancán, Tabasco, México.
		h3 Información academica
		p Actualmente estudio el 8vo semestre de la carrera Ingenieria en Sistemas Computacionales en el Instituto Tecnólogico Superior de los Ríos ubicada en el municipio de Balancán, Tabasco, Mexico.
		p Durante estos 8 semestres he aprendido sobre muchas cosas respecto a mi carrera como lo es la instalacion de redes, programacion web con diferentes lenguajes de programación, programación para dispositivos moviles, manejo del gestor de base de datos MySQL, manejo de dispositivos como arduino y creación de circuitos.
		h3 Correo de contacto 
		p franciscoaguilarlandero@hotmail.com

