extends Plantilla/template.jade
block main 

block imagen
	.img_evo
		img(Src="Imagen/LOGO_TEC.png")
block main
	
	h1 Instituto tecnologico Superior de los Rios
	h3 Misión
	p Ofrecer servicios con calidad en educación superior tecnológica, formando profesionistas mediante un modelo educativo integral, que permita el dsarrollo de competencias profesionales con amplia capacidad para generar investigación e innovar la tecnología. 

	h3 Visión
	p Ser una institución de calidad, en la educación superior, con prestigio académica y competitiva en: docencia, investigación y extensión, reconocido por su excelencia en la formación de profesionistas con competencias técnicas, sobre las bases de un humanismo, que contribuya al fortalecimiento regional, nacional e internacional. 

	p Nuestros egresados contarán con una sólida formación en valores y competencias para su incorporación laboral, contribuyendo con calidad y sustentabilidad en beneficio de la sociedad. 

block aside
	h2 Siguenos en facebook
	a(href="http://facebook.com") Seguir
block footer
	p Practica de HTML5 y jade
	p Periodo Enero- Agosto 2017